# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Logs
*.log

# Compiled files
*.class

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Java
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Environment
.env

# Windows
desktop.ini
